name: Cloudformation
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Validate Cloudformation template
        uses: scottbrenner/cfn-lint-action@v2.5.2
        with:
          args: nat.json
